html {
    min-width:640px;
    min-height:480px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px; 
    right: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    background-color:#2d3b3e;
    min-width: 640px;
    min-height: 480px;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px; 
    right: 0px;
    margin: 0px;
    padding: 0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #fff;
    overflow: hidden;
}

h1 {
    color: #c7a98b;
}

h2 {
    margin-bottom: 2px;
}

.hidden {
    display: none;
}

#title {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 64px;
    background-color: #ffffff;
    color:#333;
}

#blog {
    position: absolute;
    top: 64px;
    left: 0px;
    bottom:0px;
    right: 40%;
    padding: 2%;
    overflow: scroll;
}

#links {
    position: absolute;
    top: 64px;
    bottom: 0px;
    left: 60%;
    right: 0px;
}

#backlinks {
    position: absolute;
    display: block;
    top: 0px;
    bottom: 50%;
    left: 0px;
    right: 0px;
    overflow: scroll;
    margin:0px;
}

#forwardlinks {
    position: absolute;
    display: block;
    top: 50%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: scroll;
    margin: 0px;
}

h2 .date {
    font-size:0.6em;
    color: #c7a98b;
    margin-right: 32px;
    float: left;
    font-weight: normal;
}

#blog li {
    border-top: 1px solid #958677;
}

#linksin {
    position: absolute;
    top: 72px;
    left: 60%;
    width: 147px;
    margin-left:-112px;
    height: 75px;
    background-image: url('/linksin.png');
    background-repeat: no-repeat;
}

#linksout {
    position: absolute;
    bottom: 24px;
    left: 60%;
    width: 147px;
    margin-left:-60px;
    height: 75px;
    background-image: url('/linksout.png');
    background-repeat: no-repeat;
}