html {
    min-width:640px;
    min-height:480px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px; 
    right: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    background-color:#2d3b3e;
    min-width: 640px;
    min-height: 480px;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px; 
    right: 0px;
    margin: 0px;
    padding: 0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #fff;
    overflow: hidden;
}

h1 {
    color: #c7a98b;
}

h2 {
    margin-bottom: 2px;
}

h2 .date {
    font-size:0.6em;
    color: #c7a98b;
    margin-left: 32px;
    float: right;
    font-weight: normal;
}   
    
a {
    color: #f2d3c2;
}

a:hover {
    color: #ffffff;
}

#title {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 64px;
    background-color: #ffffff;
    color:#333;
}

#blog li {
    border-top: 1px solid #958677;
    padding: 5px;
}

.hidden {
    display: none;
}

.post:hover {
    cursor: pointer;
}

.content {
    border: 2px solid #13181A;
    padding: 10px;
    background-color: #ffffff;
    color: #13181A;
}

.content a {
    color: #2F4F4F;
}

.content a:hover {
    color: #13181A;
}

#blog .selected {
    border: 1px solid #958677;
}

/*
    VIEW 1
*/

.view1 #title {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 64px;
    background-color: #ffffff;
    color:#333;
}

.view1 #blog {
    position: absolute;
    top: 64px;
    left: 0px;
    bottom:0px;
    right: 40%;
    padding: 2%;
    overflow: scroll;
}

.view1 #links {
    position: absolute;
    top: 64px;
    bottom: 0px;
    left: 60%;
    right: 0px;
}

.view1 #backlinksContainer {
    position: absolute;
    display: block;
    top: 0px;
    bottom: 50%;
    left: 0px;
    right: 0px;
    overflow: scroll;
    padding: 8px;
    margin:0px;
}

.view1 #forwardLinksContainer {
    position: absolute;
    display: block;
    top: 50%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: scroll;
    padding: 8px;
    margin: 0px;
}

.view1 #linksin {
    position: absolute;
    top: 72px;
    left: 60%;
    width: 147px;
    margin-left:-112px;
    height: 75px;
    background-image: url('/linksin.png');
    background-repeat: no-repeat;
}

.view1 #linksout {
    position: absolute;
    bottom: 24px;
    left: 60%;
    width: 147px;
    margin-left:-60px;
    height: 75px;

    background-image: url('/linksout.png');
    background-repeat: no-repeat;
}

.view1 #content, .view1 #related {
    display: none;
}

/*
    VIEW 2 
*/

.view2 #content {
    position: absolute;
    top: 64px;
    left: 25%;
    bottom:0px;
    right: 25%;
    padding: 20px;
    overflow-x: auto;
    overflow-y: scroll;    
}

.view2 #blog {
    position: absolute;
    top: 64px;
    left: 0px;
    bottom: 0px;
    right: 75%;
    padding: 20px;
    background-color:#13181a;
    overflow: scroll;
}

.view2 #related {
    position: absolute;
    top: 64px;
    left: 75%;
    bottom: 0px;    
    right: 0px;
    padding: 20px;
    /*background-color:#13181a;*/
    overflow: scroll;
}

.view2 #links, .view2 .content {
    display: none;
}

.view2 #linksin {
    position: absolute;
    top: 72px;
    left: 75%;
    width: 147px;
    margin-left:-112px;
    height: 75px;
    background-image: url('/linksin.png');
    background-repeat: no-repeat;
}

.view2 #linksout {
    position: absolute;
    bottom: 24px;
    left: 75%;
    width: 147px;
    margin-left:-60px;
    height: 75px;
    background-image: url('/linksout.png');
    background-repeat: no-repeat;
}