!!! 5
html(lang='en')
    head
        title final year project
        script(src='/raphael.js')
        script(src='/jit-yc.js')
        link(rel='stylesheet', type='text/css', href='/public.css')
    body
        script(src='/bundle.js')